$bg-color: #ffb7c5;
$primary-color: white;
$accent-color: #ECE8DC;
$hover-color: gray;

body
    font-family: 'Inter', sans-serif
    background-image: url(/assets/jide.gif)
    margin: 0 auto
    scroll-behavior: auto

p, li
    font-size: 18px

p 
    color: $accent-color

li  
    color: $primary-color

h1, h2, a 
    color: $primary-color

a 
    font-size: 18px
    text-decoration: none

a:visited 
    color: white

a:hover 
    color: white

@media only screen and (max-width: 1080px)
    a 
        font-size: 18px
